.event-show-div {
  display: flex;
  padding-top: 2%;
  // justify-content: space-between;

  padding-bottom: 90px;
  justify-content: center;
}

.event-show-image {
  padding-left: 20px;
}

.event-info-section {
  padding-right: 20px;
}

.div-for-ul{
  background: #F4F3F2;
}

.date-li{
  padding-top: 30px;
  padding-left: 5%;

}

.day-li{
  padding-left: 5%;

}

.price-li h3{
  padding-bottom: 2%;
}

.title-li{
  padding-top: 30px;
  padding-left: 5%;
}

.author-li{
  padding-top: 30px;
  padding-left: 5%;
}

.price-li {
  padding-top: 53%;
  padding-left: 5%;
}
