.category-image{
  position: relative;
}

.index-category-name{
  position: absolute;
  color: white;
  margin-top: 5%;
  margin-left: 7%;
  font-size: 35px;
  font-weight: 600;
}

.category-index-link {
  transition: 300ms linear;
}
