// .Events-index {
//   display: flex;
//   align-items: center;
// }
// .Events-index img{
//   height: 300px;
//   width: 300px;
//   display: block;
//   width: 33%;
// }

.center {
  align-items: center;
  margin: 0 auto;
}
.events-div{
  display: inline-block;
  width: 33%;
  margin: 0 auto;
}

.Event-info-div{
  border: 1px solid black;
  padding-bottom: 2px;
  overflow: hidden;
}

.events-div img{
  height: 300px;
  width: 300px;
}

.events-div {
  margin: 0 auto;
  padding: 0;
}

div {
  padding: 0;
  margin: 0 auto;
}
