// .Events-index {
//   display: flex;
//   align-items: center;
// }
// .Events-index img{
//   height: 300px;
//   width: 300px;
//   display: block;
//   width: 33%;
// }
// .Events-index {
//   background: #666a73;
// }
.center {
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  padding-right: 10%;
}
.events-div{
  // display: inline-block;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 5%;
  height: 10%;
  margin: 0px;
  background: white;
}
.section-one{
  color:  #45494E;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 2%;
}
.section-two{
  font-size: 15px;
  padding-bottom: 5%;
  padding-top: 1%;
  color: #282C35;
  font-weight: 600;
}

.section-three{
  color:  #666A73;
  font-size: 15px;
  padding-bottom: 2%;
  letter-spacing: 1px;
  // border-bottom: 1px solid lightgray;
}

.Event-icons {
  display: flex;
  direction: column;
  border-top: 1px solid lightgray;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
}

.Event-info-div{
  margin-bottom: 6px;
  overflow: hidden;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  // box-shadow: 0px 0px 0px 1px lightgray;
  -webkit-box-shadow: 0 8px 6px -6px lightgray;
  -moz-box-shadow: 0 8px 6px -6px lightgray;
  box-shadow: 0 8px 6px -6px lightgray;
  width: 315px;

  // padding-left: 3%;
}

.Event-info-div section {
  padding-left: 3%;


}

.div-one{
  color: gray;
  padding-left: 3%;
  font-size: 15px;
}

.div-two{
  padding-left: 8%
}

.div-three{
  padding-right: 3%;
}
.div-one:hover{
  color: #0093D7;
}
.div-two:hover{
  color: #0093D7;
}
.div-three:hover{
  color: #0093D7;
}

.event-image{
  height: 170px;
  width: 315px;
  padding-top: 5%;
}


.events-div {
  // margin: 0 auto;
  padding: 0;
}

div {
  padding: 0;
  margin: 0 auto;
}
