.nav-bar-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
// float
.nav-bar-ul li {
    // float: right;
}

.ul-div{
  display: flex;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  // padding-top: 0.5%;
  // margin-bottom: 0.5%;
  // margin-top: 0.5%;
  padding-bottom: 0.5%;
  background: white;
}
.nav-bar-ul li:last-child {
    border-right: none;
}


.nav-bar-ul li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-family: helvetica;
    height: 54px;
    font-size: 12.5px;
    border-left: 1px solid #f2f3f6;
    background: white;


}

#create-event{
  color: #0093D7;
}

#create-event:hover{
  background: white;
  color: black;
}

// float
.nav-bar-ul{
  margin-right: 3px;
  display: flex;
}
.ul-div{
  display: flex;
  // float: right;
}
.nav-bar-ul li button {
  display: block;
  color: gray;
  text-align: center;
  padding: 18px 16px;
  padding-top: 15px;
  text-decoration: none;
  font-family: helvetica;
  font-size: 12.5px;
  height: 54px;
  border-left: 1px solid #f2f3f6;
  background: white;
}

.nav-bar-ul li a:hover:not(.active) {
    background-color: #EFF2F5;
}
.nav-bar-ul li button:hover {
    background-color: #EFF2F5;
}

.nav-bar-ul #event-li{
  // float: left;
}
.active{
  // float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  // color: #45494E;
  color:  #f6682F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 800;
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  // font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  background: white;

  // font-size: 39px;
  // line-height: 1.4;
}

.signup-li {
  border-left: 1px solid #f2f3f6;
  // border-right: 1px solid #f2f3f6;
}
.nav-bar{
  height: 55px;
  width: 100%;
  // border-bottom: 5px solid #f2f3f6;
}
.login-li{
  border-left: 1px solid #f2f3f6;
}

.active {
  color: darkorange;
  list-style: none;
  font-size: 23px;
  border-right: 1px solid #f2f3f6;

}

ul{
  list-style: none;
}
