.New-event-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 60px;
  margin: 0 auto; 
}

.form-div{
  display: flex;
  justify-content: center;
}

.New-event-form input{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  // display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  // box-sizing: border-box;
  background: white;
}
.New-event-form textarea{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  // display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  // box-sizing: border-box;
  background: white;
}
// .New-event-form input:active {
//   border: 1px solid blue;
// }
.New-event-form input[type="text"]:hover{
  box-shadow: 0px 0px 2px 3px lightblue;
}
.New-event-form textarea:hover{
  box-shadow: 0px 0px 2px 3px lightblue;
}
// switch box shadow
.New-event-form input[type="datetime-local"]:hover{
  box-shadow: 0px 0px 2px 3px lightblue;
}
.New-event-form input[type=submit] {
  width: 90%;
  background-color: darkorange;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  text-align: center;
}
.New-event-form h1{
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
  color: grey;
}
.New-event-form input[type=submit]:hover {
  background-color: orange;
}

.New-event-form h5{
  color: red;
}

// input[type=email], select{
//     width: 100%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
// }
